# Dependency directories
node_modules/

# Next.js
.next/
out/
build/

# NestJS
dist/

# Environment variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
.cursor/

# Misc
.turbo/
coverage/